html, body {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

.title {
  margin-left: 30px;
  font-size: 200px;
  color: black;
}

.description {
  text-align: center;
  color: rgb(30, 30, 30);
  font-size: 26px;
  margin-bottom: 12px;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(220, 220, 220);
}

.photographs {
  text-align: center;
}

.photograph {

}

.photograph img {
  max-width: 1000px;
}

.photograph .caption {
  color: rgb(70, 70, 70);
  margin: 7px 15px 15px 12px;
  letter-spacing: 1px;
  font-size: 16px;
}

.kevin {
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  border-top: 2px solid rgb(220, 220, 220);
  padding-bottom: 10px;
  padding-top: 10px;
}

.kevin a {
  color: black;
}
