html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/porkfat_logo/porkfat@0.25x.png) bottom right no-repeat;
  background-size: 70%;
  background-color: white;

  padding-bottom: 300px;
}

body a {
  text-decoration: none;
}

/* PRE-CONTENT */

.pre-content-section-box {
  padding: 15px;
  max-width: 300px;
  margin: 20px;

  font-size: 18px;
  line-height: 24px;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.pre-content-section-box p {
  margin-bottom: 0;
}

.pre-content-section-box a {
  color: #3366FF;
}

  .pre-content-section-box a:hover, .pre-content-section-box a:focus {
    color: #2447B2;
  }

#pre-content-section-about {
  color: rgba(255, 255, 255, 0.97);
  background-color: black;
}

#shane {
  background-color: #ffeb6a;
  color: #8331f0;
}

/* CONTENT */

#content-container {
  margin: auto;
  text-align: left;
  min-width: 320px;
  max-width: 1440px;
  padding: 20px;
}

.content-header {
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 16px 30px;
  text-align: center;

  font-size: 40px;
  color: #101115;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  #media-header {
    margin-top: 20px;
  }

.content-section-buffer {
  height: 10px;
}

.content-list {
  margin: 5px 0px;

  /* lol a ton of super annoying flexbox prefixes */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
      display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center; /* space-around also good */
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}

.content-item {
  display: block;
  padding: 15px;
  margin: 10px 12px 20px 12px;
  overflow: scroll;
  width: 320px;

  color: inherit;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}
  .content-item:hover {
    background-color: #ff648a;
  }

.content-text {
  padding: 10px;
  margin-left: -10px;
  position: relative;
}

  .content-item:hover .content-text {
    color: #ffffff;
  }

.content-title {
  margin-bottom: 12px;
  max-width: 75%;

  font-size: 24px;
}
  .content-item:hover .content-title {
    font-style: italic;
  }

.content-subtitle {
  font-size: 17px;
  font-style: italic;
}

.content-date {
  position: absolute;
  top: 0px;
  right: 0px;

  font-weight: bold;
  font-size: 12px;
  font-family: monospace;
}

.content-description {
  font-size: 18px;
  color: #292929;
}

  .content-item:hover .content-description {
    color: #a5eefd;
  }

.content-image-container {
  margin: 10px 0px;
}

  .content-image-container img {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .content-item:hover .content-image-container img {
    box-shadow: 2px 2px 20px 9px #f0e747;
  }

.content-unavailable {
  position: absolute;
  left: 0;
  top: 38%;
  margin: 0px 40px;

  font-size: 40px;
  text-align: center;
  padding: 10px 0px;

  color: #003fff;
  background-color: rgba(255, 85, 85, 0.95);

  display: none;
}

  .content-item:hover .content-unavailable {
    display: initial;
  }

/* MENU */

#content-menu {
  position: fixed;
  right: 10px;
  top: 5px;
  padding: 10px;

  z-index: 1000;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.content-menu-link {
  margin: 10px 0px;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
}

  .content-menu-link a {
    color: black;
  }
    .content-menu-link a:hover {
      color: #41dc6f;
    }

  .content-menu-link.active-menu-button a {
    color: #f54842;
  }

  .content-menu-link.active-menu-button a:hover {
    color: #4296f7;
  }

/* CONTACT */

#contact-info {
  position: fixed;
  bottom: 10px;
  left: 20px;
  padding: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#contact-header {
  font-size: 20px;
  margin-bottom: 9px;
  font-style: italic;
  display: inline-block;
}

.contact-item {
  display: inline-block;
  font-size: 14px;
  padding: 7px;
  margin-right: 8px;
  color: black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#contact-email {
  background-color: #fdff6e;
}
  #contact-email:hover {
    background-color: #fcfac1;
  }

#contact-twitter {
  background-color: #69ebbd;
}
  #contact-twitter:hover {
    background-color: #9eedcd;
  }

#contact-instagram {
  background-color: #68a0eb;
}
  #contact-instagram:hover {
    background-color: #9ebded;
  }

#contact-lastfm {
  background-color: #e9583f;
}
  #contact-lastfm:hover {
    background-color: #f0877e;
  }

#contact-github {
  background-color: #cc60f7;
}
  #contact-github:hover {
    background-color: #ce7ded;
  }

/* MEDIA BRAH */

@media (max-width : 750px), (max-device-width: 750px) {
  .content-item {
    width: 100%;
  }
}
