html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/porkfat_logo/porkfat@0.25x.png) bottom right no-repeat;
  background-size: 70%;
  background-color: white;

  opacity: 0;

  min-width: 1024px;
  padding-bottom: 300px;
}

body a {
  text-decoration: none;
}

/* PRE-CONTENT */

.pre-content-section-box {
  padding: 15px;
  max-width: 300px;
  margin: 20px;

  font-size: 18px;
  line-height: 24px;
}

.pre-content-section-box p {
  margin-bottom: 0;
}

.pre-content-section-box a {
  color: #3366FF;
}

  .pre-content-section-box a:hover, .pre-content-section-box a:focus {
    color: #2447B2;
  }

#pre-content-section-about {
  padding: 15px;
  max-width: 300px;
  margin: 20px;

  color: white;
  background-color: black;
}

#shane {
  background-color: #ffeb6a;
  color: #8331f0;
}

/* CONTENT */

#content-container {
  margin: 20px;
}

.content-header {
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 16px 30px;
  text-align: center;

  font-size: 40px;
  color: #101115;

  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
}
  #art-header {
    margin-top: 20px;
  }

.content-section-buffer {
  height: 10px;
}

.content-list {
  margin-top: 5px;
  margin-bottom: 5px;
}

.content-group {
  height: 405px;
  margin-bottom: 40px;
}

.content-item {
  height: 100%;
  width: 30%;
  padding: 1.5%;
  display: inline-block;
  vertical-align: middle;
  overflow: scroll;
  color: inherit;
}

.content-text {
  padding: 10px;
  margin-left: -10px;
  position: relative;
}

  .content-item:hover .content-text {
    background-color: #ff648a;
    color: #ffffff;
  }

.content-title {
  margin-bottom: 12px;
  margin-top: 8px;
  max-width: 75%;

  font-size: 24px;
}
  .content-item:hover .content-title {
    font-style: italic;
  }

.content-subtitle {
  font-size: 17px;
  font-style: italic;
}

.content-date {
  position: absolute;
  top: 10px;
  right: 10px;

  font-weight: bold;
  font-size: 12px;
  font-family: monospace;
}

.content-description {
  font-size: 18px;
  color: #292929;
}

  .content-item:hover .content-description {
    color: #a5eefd;
  }

.content-image-container {
  margin-top: 18px;
  margin-bottom: 36px;
}

  .content-image-container img {
    width: 100%;
  }

  .content-item:hover .content-image-container img {
    box-shadow: 2px 2px 20px 9px #f0e747;
  }

/* MENU */

#content-menu {
  position: fixed;
  right: 5px;
  top: 5px;
  padding: 10px;

  background-color: white;
}

.content-menu-link {
  margin: 10px 0px;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
}

  .content-menu-link a {
    color: black;
  }
    .content-menu-link a:hover {
      color: #41dc6f;
    }

  .content-menu-link.active-menu-button a {
    color: #f54842;
  }

  .content-menu-link.active-menu-button a:hover {
    color: #4296f7;
  }

/* CONTACT */

#contact-info {
  position: fixed;
  bottom: 15px;
  left: 15px;
}

#contact-header {
  font-size: 20px;
  margin-bottom: 9px;
  padding: 10px;
  background-color: white;
  display: inline-block;
}

.contact-item {
  display: inline-block;
  padding: 10px;
  margin-right: 8px;
  color: black;
}

#contact-email {
  background-color: #fdff6e;
}
  #contact-email:hover {
    background-color: #fcfac1;
  }

#contact-twitter {
  background-color: #69ebbd;
}
  #contact-twitter:hover {
    background-color: #9eedcd;
  }

#contact-lastfm {
  background-color: #e9583f;
}
  #contact-lastfm:hover {
    background-color: #f0877e;
  }

#contact-github {
  background-color: #cc60f7;
}
  #contact-github:hover {
    background-color: #ce7ded;
  }
