
html {
  margin: 0; padding: 0;
  width: 100%; height: 100%;
}

body {
  background-color: #ff0000;
  background-image: url(media/gold1.jpg);
}

.splash {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  padding-top: 200px;
  background: #ffffff;
  color: #000000;
  font-family: Helvetica, sans-serif;
  font-size: 72px;
  text-align: center;
  z-index: 1;

  transition: opacity 0.5s;
}

.state-indicator {
  position: fixed;
  top: 5px; right: 5px;
  color: #f00;
  font-family: monospace;
  font-size: 40px;
}

.list-header {
  color: #ffffff;
  font-size: 40px;
}

.photo-list {
  list-style: none;
  margin: 0; padding: 0;
}

.photo-list li {
  display: inline-block;
  margin: 20px;
}

.photo-list li img {
  width: 400px;
}

.cool-vid {
  margin: 20px;
  width: 400px;
  transform-origin: 0 0;
}
