@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 255;
  --background-end-rgb: 40, 0, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: underline;
  transition: background 0.2s ease;
}

a:hover {
  background: #f00;
}

::selection {
  background-color: #ff0;
  color: #000;
}

.layout-main-content {
  min-height: calc(100vh - 80px);
  padding: 0.5rem;
}